[submodule "_data/common"]
  path = _data/common
  url = https://github.com/tsmanner/terrasa-common-data.git
  shallow = true
[submodule "_includes/common"]
	path = _includes/common
	url = https://github.com/tsmanner/terrasa-common-includes.git
  shallow = true
[submodule "assets/common"]
	path = assets/common
	url = https://github.com/tsmanner/terrasa-common-assets.git
  shallow = true
