{% assign encounter_id = include.name | replace: ' ', '_' %}
<details>
  <summary>{{ include.name }}</summary>
  <div class="encounter" id="{{ encounter_id }}">
    <div><button onclick="mapEntities({{ encounter_id }}, rollInitiative);" >Auto Roll Initiative</button></div>
    <table id="{{ encounter_id }}.table">
      <tr class="encounter-table-header">
        <th>Character</th>
        <th>Init</th>
        <th>AC</th>
        <th>HP</th>
        <th>STR</th>
        <th>DEX</th>
        <th>CON</th>
        <th>INT</th>
        <th>WIS</th>
        <th>CHA</th>
      </tr>

      {% assign encounter = page.encounters | where: "name", include.name | first %}
      {% for entity in encounter.entities %}
        {% assign character = site.data.players | concat: site.data.npcs | concat: site.data.monsters | where: "name", entity | first %}
        {% assign character_id = character.name | replace: ' ', '_' | prepend: "." | prepend: encounter_id %}
        <tr class="entity">
          <td>
            {% if character.link == nil %}
              <a>{{ character.name }}</a>
            {% else %}
              <a target="_blank" rel="noopener noreferrer" href="{{ character.link }}">{{ character.name }}</a>
            {% endif %}
          </td>
          <td><button
            class="roll roll-click"
            id="{{ character_id }}.initiative"
            data-modifier="{{ character.initiative }}"
            data-die="20"
          >
            {% if character.initiative >= 0 %}
              +{{ character.initiative }}
            {% else %}
              {{ character.initiative }}
            {% endif %}
          </button></td>
          <td id="{{ character_id }}.ac">{{ character.ac }}</td>
          <td><button
            class="value decrement-click increment-contextmenu"
            id="{{ character_id }}.hp"
            format="{value}/{maximumValue}"
            maximumValue="{{ character.hp }}"
            minimumValue="0"
            initialValue="{{ character.hp }}">
              {{ character.hp }} / {{ character.hp }}
          </button></td>
          <td class="ability modifier" id="{{ character_id }}.str">{{ character.abilities.str | divided_by: 2 | minus: 5 }}</td>
          <td class="ability modifier" id="{{ character_id }}.dex">{{ character.abilities.dex | divided_by: 2 | minus: 5 }}</td>
          <td class="ability modifier" id="{{ character_id }}.con">{{ character.abilities.con | divided_by: 2 | minus: 5 }}</td>
          <td class="ability modifier" id="{{ character_id }}.int">{{ character.abilities.int | divided_by: 2 | minus: 5 }}</td>
          <td class="ability modifier" id="{{ character_id }}.wis">{{ character.abilities.wis | divided_by: 2 | minus: 5 }}</td>
          <td class="ability modifier" id="{{ character_id }}.cha">{{ character.abilities.cha | divided_by: 2 | minus: 5 }}</td>
        </tr>
      {% endfor %}

    </table>
  </div>
</details>
