{% assign encounter_id = include.name | replace: ' ', '_' %}
<details>
  <summary>{{ include.name }}</summary>
  <div class="encounter" id="{{ encounter_id }}">
    <div>
      <button onclick="sortEncounter('{{ encounter_id }}.table')" >Sort</button>
      <button onclick="previousTurn('{{ encounter_id }}.table')">Previous</button>
      <button onclick="nextTurn('{{ encounter_id }}.table')">Next</button>
      <button onclick="autoRollInitiative('{{ encounter_id }}.table')" >Auto Roll Initiative</button>
      <button onclick="resetEncounter('{{ encounter_id }}.table')" >Reset</button>
      <button onclick="showAll('{{ encounter_id }}.table')" >Show All</button>
    </div>
    <table id="{{ encounter_id }}.table">
      <tr class="encounter-table-header">
        <th>Character</th>
        <th>Init</th>
        <th>AC</th>
        <th>HP</th>
        <th>STR</th>
        <th>DEX</th>
        <th>CON</th>
        <th>INT</th>
        <th>WIS</th>
        <th>CHA</th>
        <th>Show<br/>Hide</th>
      </tr>

      {% assign encounter = page.encounters | where: "name", include.name | first %}
      {% assign entity_number = 1 %}
      {% for entity_name in encounter.entities %}
        {% assign entity = site.data.players | concat: site.data.npcs | concat: site.data.monsters | where: "name", entity_name | first %}
        {% assign entity_id = entity.name | replace: ' ', '_' | prepend: "." | prepend: encounter_id | append: "." | append: entity_number %}
        {% assign entity_number = entity_number | plus: 1 %}
        <tr
          class="entity"
          id="{{ entity_id }}"
          data-encounter-id="{{ encounter_id }}"
          data-proficiency="{{ entity.proficiency }}"
          data-str="{{ entity.abilities.str }}"
          data-dex="{{ entity.abilities.dex }}"
          data-con="{{ entity.abilities.con }}"
          data-int="{{ entity.abilities.int }}"
          data-wis="{{ entity.abilities.wis }}"
          data-cha="{{ entity.abilities.cha }}"
        >
          <td id="{{ entity_id }}.name">
            {% if entity.link == nil %}
              <a>{{ entity.name }}</a>
            {% else %}
              <a target="_blank" rel="noopener noreferrer" href="{{ entity.link }}">{{ entity.name }}</a>
            {% endif %}
          </td>
          <td id="{{ entity_id }}.initiative"><button
            class="roll roll-click input-ctrl-click reset-contextmenu"
            id="{{ entity_id }}.initiative.button"
            data-null-format="+{modifier}"
            data-modifier="{{ entity.initiative }}"
            data-die="20"/></td>
          <td id="{{ entity_id }}.ac">{{ entity.ac }}</td>
          <td id="{{ entity_id }}.hp"><button
            class="value decrement-click decrement5-ctrl-click increment-contextmenu increment5-ctrl-contextmenu"
            id="{{ entity_id }}.hp.button"
            data-cascade-update="{{ entity_id }}"
            data-format="{value}/{maximumValue}"
            data-maximum-value="{{ entity.hp }}"
            data-minimum-value="0"
            data-initial-value="{{ entity.hp }}"/></td>
          <td class="ability" data-ability="str" data-entity-id="{{ entity_id }}"/>
          <td class="ability" data-ability="dex" data-entity-id="{{ entity_id }}"/>
          <td class="ability" data-ability="con" data-entity-id="{{ entity_id }}"/>
          <td class="ability" data-ability="int" data-entity-id="{{ entity_id }}"/>
          <td class="ability" data-ability="wis" data-entity-id="{{ entity_id }}"/>
          <td class="ability" data-ability="cha" data-entity-id="{{ entity_id }}"/>
          <td id="{{ entity_id }}.hp"><button onclick="showHideRow('{{ entity_id }}')"/>Hide</td>
        </tr>
      {% endfor %}

    </table>
  </div>
</details>
