.entity .td {
  text-align: center;
}

.encounter .selected {
  outline-style: double;
  outline-color: darkgreen;
}

.encounter .hidden {
    display: none;
}

.encounter .entity.healthy {
    background-color: rgba(0, 64, 0, 0.5);
}

.encounter .entity.bloodied {
    background-color: rgba(64, 0, 0, 0.5);
}

.encounter .entity.unconscious {
    background-color: rgba(80, 80, 80, 0.5);
}
