.entity .td {
  text-align: center;
}

.encounter .selected {
  outline-style: double;
  outline-color: darkgreen;
}

.encounter .hidden {
    display: none;
}

.encounter .entity.healthy {
    background-color: darkgreen;
}

.encounter .entity.bloodied {
    background-color: darkred;
}

.encounter .entity.unconscious {
    background-color: gray;
}
